<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CalibrationPro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='scripts/jquery/jquery.form.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/jquery/jquery.jframe.js') }}"></script>
  </head>
  <body>
    <div class="container-fluid">

      <!-- Banner -->
      <div class="row">
        <div class="col-sm-12">
          <h1 id="banner">CalibrationPro</h1>
        </div>
      </div>

      <!--Tabs -->
      <div class="row">
        <div class="col-sm-12">
          <div class="tab" id="tabBar">
            <button class="tablinks active" id="ControlTab">
               Control
            </button>
            <button class="tablinks" id="ConfigurationTab">
               Configuration
            </button>
          </div>
        </div>
      </div>

      <div class="row match-my-cols">
        <!-- Left Side (Inputs) -->
        <div id="left_side" class="col-sm-3">
          <br>
          <br>
          <button id="onButton" class="btn btn-success "><h4>Start<h4></button>
          <button id="offButton" class="btn btn-primary"><h4>Stop<h4></button>
          <button id="restartButton" class="btn btn-primary"><h4>Restart<h4></button>
          <br>
          <br>
          <span>
            Target Voltage
            <input id="tVoltage" type="number" step="0.1" value="12.00"></input>
          </span>
          <br>
          <span>
            Target Current
            <input id="tCurrent" type="number" step="0.1" value="1.00"></input>
          </span>
          <br>
          <br>
          <span>
            Measured Voltage
            <input id="mVoltage" type="text" value="0.00" readonly></input>
          </span>
          <br>
          <span>
            Measured Current
            <input id="mCurrent" type="text" value="0.00" readonly></input>
          </span>
          <br>
          <br>
          <span>
            File Path
            <input id="saveButton" class="btn btn-primary" type="button" value="SAVE"></button>
            <input id="readButton" class="btn btn-primary" type="button" value="READ"></button>

            <div id="searchBox" style="width:100%; margin-top:10px;max-width:300px;">
              <input type="text" style="padding-left:0px; width:100%;" value="C://Users/DPS/Documents/calibration.txt"></input>
            </div>
          </span>
          <br>

        </div>

        <!--Right Side (Graphs)-->
        <div id="right_side" class="col-sm-9">

          <div class="graph" id="voltage_chart_div">

          </div>

          <div class="graph" id="current_chart_div">

          </div>

        </div>
      </div>

    </div><!-- End Container -->

    <!-- Configuration Window -->
    <div id="Configuration" class="tabcontent">
      <br><br>
      <h1>Power Supply Configuration</h1>
      <br>
      <div id="options">
        <button id="connectButton" class="btn btn-success" value="Connect"><h3>CONNECT</h3></button>
        <br>
        <br>
        <br>
        <br>
        <span>
          IP Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div id=searchBox>
            <input id="ipAddress" type="text" value="126.10.218.10"></input>
          </div>
        </span>
        <br>
        <span>
          Product Number
          <div id=searchBox>
            <input id="productNumber" type="text" value="1234"></input>
          </div>
        </span>
        <br>
        <span>
          Model&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div id=searchBox>
            <input id="model" type="text" value="1"></input>
          </div>
        </span>
        <span>
          <br>
          Baud Rate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="dropdown">
            <button id="baudRate" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" value="9600"><span>9600</span>
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">9600</a></li>
              <li><a href="#">19200</a></li>
              <li><a href="#">38400</a></li>
              <li><a href="#">57600</a></li>
            </ul>
          </span>
        </span>
        <br>
        <br>
        <span>
          Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="dropdown">
            <button id="letterAddress" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" value="A"><span>A</span>
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">A</a></li>
              <li><a href="#">B</a></li>
              <li><a href="#">C</a></li>
              <li><a href="#">D</a></li>
              <li><a href="#">E</a></li>
              <li><a href="#">F</a></li>
            </ul>
          </span>
        </span>
        <br>
        <br>
      </div>
      <br>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static',filename='scripts/javascript/main.js') }}"></script>

  </body>
</html>
